*{
    font-family: 'urw_gothic_lbook', sans-serif;
}

@font-face {
    font-family: 'urw_gothic_lbook';
    src: url('../font/urw_gothic_l_book-webfont.eot');
    src: url('../font/urw_gothic_l_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/urw_gothic_l_book-webfont.woff2') format('woff2'),
         url('../font/urw_gothic_l_book-webfont.woff') format('woff'),
         url('../font/urw_gothic_l_book-webfont.ttf') format('truetype'),
         url('../font/urw_gothic_l_book-webfont.svg#urw_gothic_lbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
        
        
header{
        background: #083972; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4Mzk3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTMwNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #083972 0%, #0a305d 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#083972), color-stop(100%,#0a305d)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #083972 0%,#0a305d 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #083972 0%,#0a305d 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #083972 0%,#0a305d 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #083972 0%,#0a305d 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083972', endColorstr='#0a305d',GradientType=0 ); /* IE6-8 */
        width: 100%;
        height: 105px;
        position:absolute;
        top:0;
        z-index: 2;
        opacity: 0.9;
        filter: alpha(opacity=90); /* For IE8 and earlier */
        text-align: center;
}
        
header .conteneur{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 103px;
    border:1px solid transparent;
}
        
header #logo{
        width: 130px;
        height: 82px;
        left:0;
        margin-top: 11px;
}

header #right{
    width: 200px;
    height: 103px;
    float: right;
    font-size: 10px;
    font-weight: bold;
    padding-top:20px;
    text-align: left;
}
header #right a{
    text-decoration: none;
    color:#fff;
}

header #espaceclient{
    background: url("../img/lock.png") no-repeat top left;
    padding-left:15px;
}

header #espaceclient:hover{
    background: url("../img/lockactif.png") no-repeat top left;
    color:#4b8daf;
}
header #fren {
    float: right;
    color:#4b8daf;
}
header #fren #inactif:hover{
    color:#fff;
}
header #fren #inactif{
    color:#4b8daf;
}
header form{
    margin-top:25px;
}
header form #search{
    width: 160px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
}
header form #ok{
    width: 25px;
    background: #000 url('../img/search.png') no-repeat center center;
    height: 27px;
    border:0px;
    color: #fff;
    cursor: pointer;
}

        
.menu{
        top:-48px;
        padding-left:150px;
        position: relative;
        list-style: none;
}
        
.menu li{
        float: left;
        display: block;
        color: #fff;
}
.menu li a:hover{
background-color: #000;
}
        
.menu>li.showhide{
            display: none;
            width: 100%;
            height: 50px;
            cursor: pointer;
            color:#fff;
}
.menu>li.showhide span.titre{
        margin:15px 0 0 25px;
        float: left;
}
.menu>li.showhide span.icon{
        margin: 17px 20px;
        float: right;
}
.menu>li.showhide .icon em{
        margin-bottom: 3px;
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
}
.menu>li>a{
        padding: 20px 24px;
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        display: inline-block;
}
.menu a{
        o-transition: all .3s linear;
        webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
        outline: 0;
        z-index: 10;
}
a:-webkit-any-link{
        color: webkit link;
        text-decoration: underline;
        cursor: auto;
}
.menu .indicateur{
        position: relative;
        left: 5px;
        top: 0;
        font-size: 14px;
        float: right;
}


#centre{
    height: 300px;
    width: 100%;
    bottom:230px;
    position: absolute;

}

#accroche{
    background-color: #fff;
    width: 390px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    top:0;
    z-index: 2;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    text-align: center;
    border-radius: 0 25px 25px 25px;
    font-size: 24px;
    font-family: 'urw_gothic_lbook', sans-serif;
    padding-top: 15px;
}

#slogan{
    background-color: #032a57;
    width: 390px;
    height: 24px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 0;
    z-index: 2;
    text-align: center;
    border-radius: 0 25px 0 0;
    font-size: 14px;
    font-family: 'urw_gothic_lbook', sans-serif;
    padding-top: 10px;
    color:#fff;
}

ul#slide-list{
    bottom:50px;
}


footer{
    background-color: #032a57; 
    width: 100%;
    height: 230px;
    position:absolute;
    bottom:0;
    z-index: 2;
    text-align: center;
}

footer .conteneur{
    background-color: #fff; 
    width: 90%;
    height: 185px;
    margin-top:8px;
    z-index: 2;
    text-align: center;
    padding-top: 10px;
    padding-left:5%;
    padding-right:5%;
}

footer .conteneur div{
    border-right:1px solid grey;
    text-align: left;
    width: 20%;
    display: table-cell;
    padding-left:25px;
    height: 170px;
}

h2{
    font-size: 18px;
    text-align: left;
    font-family: 'urw_gothic_lbook', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;

}

footer .conteneur div #solutions {
    list-style-type: none;
}

footer .conteneur div #solutions li{
    border-top:1px solid grey;
    margin: 0 30px 0 0;
    padding: 8px 0 8px 0;
    font-size: 12px;
    font-weight: bold;
    color:#032a57;
    background: url("../img/flechesolutions.png") no-repeat right center;
}
footer .conteneur div #solutions li:hover{
background-position: 90% 50%;
}

footer .conteneur div #solutions li p{
    font-weight: normal;
    color:grey;
}
footer .conteneur div #solutions a, #materiauxtextures #textures a{
text-decoration: none;

}
footer .conteneur #materiauxtextures{
position: relative;

}
footer .conteneur #materiauxtextures figure{
    width: 126px;
}
footer .conteneur #materiauxtextures figure img{
    border-radius: 0 8px 8px 8px;
}
figure figcaption{
    display: none;
    background-color: #000;
    position: absolute; 
    color: white; 
    padding: 5px; 
    margin-top:-37px;
    font-size: 12px;
    left:auto;
}
figure:hover figcaption{
    display: block;
}
footer .conteneur #materiauxtextures #materiaux{
    border: 0;
    display: inline-block;
    padding-left: 0px;
    margin: 0;
    height: 130px;
}
footer .conteneur #materiauxtextures #textures{
    border: 0;
    width: 150px;
    display: inline-block;
    float: right;
    height: 130px;
    padding-right: 15px;
    margin: 0;
}
footer .conteneur #materiauxtextures  #textures figure {
    float: right;
    display: inline-block;
    width: 65px;
    padding-left:2px;
    padding-right:2px;
}
footer .conteneur #materiauxtextures  #textures figure img{
    border-radius: 0 8px 8px 8px;
    height: 62px;
    width: 65px;
}

footer .conteneur #realisations ul {
    list-style-type: none;
     display: inline-block;
    width: 130px;
}
footer .conteneur #realisations ul span{
    font-size: 12px;
    font-weight: bold;
    color:#032a57;
}
footer .conteneur #realisations li{
    font-size: 11px;
    background: url("../img/flechesolutions.png") no-repeat right center;
    background-size:5px 10px;

    padding-top:7px;
    padding-bottom:7px;
    border-bottom:1px solid grey;
}
footer .conteneur #realisations li:hover{
background-position: 95% 50%;
}

footer .conteneur #realisations a{
    text-decoration: none;
    color:grey;
}
footer .conteneur #realisations #types{
    float: right;
    padding-right: 20px;
}
footer .conteneur #realisations p{
    font-size: 11px;
    background: url("../img/plus.png") no-repeat left center;
    background-size:10px 10px;
    padding-left: 20px;
    padding-top:7px;
    margin-bottom:10px;
    font-weight: bold;
    color: #000;
}